@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-sm lg:text-base font-sans-serif;
}

.menu ul {
  /* max-height: 0; */
  overflow: hidden;
  transition: max-height 0.5s ease-in;
  @apply max-h-0 xl:max-h-max;
}

.menu ul.open {
  max-height: 500px; /* Adjust based on your menu's content */
}

::-webkit-scrollbar {
  @apply w-0 h-0;
}

button {
  @apply px-7 py-4 rounded-md text-sm font-semibold transition duration-200 ease-in-out lg:text-base flex items-center gap-2 text-primary hover:shadow-md active:shadow;
}

button.black {
  @apply bg-black text-white;
}

button.primary {
  @apply bg-primary text-white;
}

button.white {
  @apply bg-white text-primary;
}

/* styles.css */
/* H1 Styles */
h1 {
  @apply font-serif 2xl:text-[6.875rem] xl:text-[6rem] lg:text-[5.625rem] md:text-[5rem] sm:text-[4.375rem] xs:text-[3.5rem] text-[2.5rem] leading-[1.2];
}

/* H2 Styles */
h2 {
  @apply font-serif 2xl:text-[4rem] xl:text-[3.5rem] lg:text-[3.25rem] md:text-[3rem] sm:text-[2.75rem] xs:text-[2.25rem] text-[1.75rem] leading-[1.3];
}

/* H3 Styles - Improved readability for smaller devices */
h3 {
  @apply font-serif 2xl:text-[2rem] xl:text-[1.875rem] lg:text-[1.75rem] md:text-[1.625rem] sm:text-[1.5rem] xs:text-[1.375rem] text-[1.375rem] leading-[1.4];
}

/* H4 Styles - Improved readability for smaller devices */
h4 {
  @apply font-serif 2xl:text-[1.75rem] xl:text-[1.625rem] lg:text-[1.5rem] md:text-[1.375rem] sm:text-[1.25rem] xs:text-[1.125rem] text-[1.125rem] leading-[1.5];
}

/* H5 Styles - Improved readability for smaller devices */
h5 {
  @apply font-serif 2xl:text-[1.5rem] xl:text-[1.375rem] lg:text-[1.25rem] text-[1.125rem] leading-[1.6];
}

/* H6 Styles - Improved readability for smaller devices */
h6 {
  @apply font-serif text-base xl:text-[1.25rem] leading-[1.6];
}

/* 
 h1 -110
 h2 - 64
 h3 - 32
 h4 - 28
 h5 - 24
 h6 - 20

*/

section {
  @apply py-7 xl:py-14;
}

header {
  @apply pt-28 xl:pt-44 pb-5 xl:pb-14;
}

#services .swiper-slide {
  @apply p-2 md:p-4 xl:p-6 bg-primary-light;
}

#services .swiper-slide-next {
  @apply xl:!bg-primary transition xl:!text-white;
}

#services .swiper-slide path,
#services .swiper-slide-active path {
  @apply stroke-primary;
}

#services .swiper-slide-next path {
  @apply stroke-white;
}

#services .swiper-slide-active {
  @apply bg-primary transition lg:bg-primary-light text-white lg:text-black;
}

#services .swiper-slide-next path {
  @apply stroke-white;
}

.swiper-pagination-bullet {
  @apply inline-block bg-black bg-opacity-15 w-4 h-4 aspect-square rounded-full cursor-pointer transition-[width_height] duration-500;
}

.swiper-pagination-bullet-active {
  @apply inline-flex items-center justify-center w-6 h-6 aspect-square rounded-full border border-spacing-10 border-black after:w-4 after:aspect-square after:bg-black after:inline-block after:rounded-full bg-white;
}

.swiper-pagination {
  @apply items-center justify-center gap-2;
}
